Source: ofxstatement-plugins
Section: misc
Priority: optional
Maintainer: Alexander GQ Gerasiov <gq@debian.org>
Build-Depends: debhelper-compat (= 12),
               dh-python,
               ofxstatement (>= 0.6.4),
               python3-all,
               python3-appdirs,
               python3-click,
               python3-mock,
               python3-openpyxl,
               python3-pytest,
               python3-pytest-runner,
               python3-setuptools,
               python3-xlrd,
               quilt
Standards-Version: 4.5.0
Homepage: https://github.com/gerasiov/ofxstatement-plugins
Vcs-Git: https://github.com/gerasiov/ofxstatement-plugins
Vcs-Browser: https://github.com/gerasiov/ofxstatement-plugins

Package: ofxstatement-plugins
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: set of plugins for ofxstatement
 Most internet banking systems are capable of exporting account transactions to
 some sort of computer readable formats, but few supports standard data formats,
 like OFX. On the other hand, personal accounting tools, such as GnuCash support
 standard formats only, and will probably never support proprietary statement
 formats of online banking systems.
 .
 This package provides most of plugins referenced on ofxstatement's homepage:
 ofxstatement-germany
 ofxstatement-airbankcz
 ofxstatement-austrian
 ofxstatement-be-argenta
 ofxstatement-be-ing
 ofxstatement-be-kbc
 ofxstatement-be-keytrade
 ofxstatement-be-triodos
 ofxstatement-betterment
 ofxstatement-bubbas
 ofxstatement-de-ing
 ofxstatement-de-triodos
 ofxstatement-consors
 ofxstatement-czech
 ofxstatement-intesasp
 ofxstatement-is-arionbanki
 ofxstatement-iso20022
 ofxstatement-latvian
 ofxstatement-lfs
 ofxstatement-lithuanian
 ofxstatement-mbank-sk
 ofxstatement-otp
 ofxstatement-paypal
 ofxstatement-polish
 ofxstatement-postfinance
 ofxstatement-raiffeisencz
 ofxstatement-russian
 ofxstatement-seb
 ofxstatement-simple
 ofxstatement-unicreditcz
 banking.statements.osuuspankki
 banking.statements.nordea
 ofxstatement-fineco
 ofxstatement-al_bank
 ofxstatement-lansforsakringar
